frontend/node_modules/
.venv
backend/intentclassification/finetuned-intents-classification-model
backend/intentclassification/local_model
backend/nerdetection/fine_tuned_NER_food_model
backend/nerdetection/food.csv
backend/nerdetection/npr.csv