@font-face {
    font-family: 'Adobe Clean';
    src: url('../public/fonts/AdobeClean.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Adobe Clean', 'Proza Libre', sans-serif;
    margin: 0;
    padding: 0;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; 
}

.hide-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;    
}